<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="https://ohiomod.gitlab.io/OhioMOD/">
    <title>{{ .Site.Title  }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    {{ partial "head_includes.html" . }}
</head>
  <body class="theme-base-08" lang="en">

  {{ partial "sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="https://ohiomod.gitlab.io/OhioMOD/" title="Home" class="home"><img src="https://gitlab.com/OhioMOD/OhioMOD/raw/fe1ed509a20cc979afd8e576c01012251ed90080/images/pixellogo.jpg" class="headlogo"></a>
		  <a href="/posts/Teampage/" class="Teampage">Teampage</a>
		  <a href="/posts/Objective/" class="Abstract">Objective</a>
		  <a href="/posts/Procedures/" class="Procedures">Procedures</a>
		  <a href="/posts/Project/" class="Project">Project</a>
		  <a href="/posts/results/"class="Results">Results and Data</a>
          </h3>
		  <style type="text/css">

		  img.headlogo{
		  height:55px; width:95px; align:middle; float:left; margin-left: -4cm;
		  margin-top:-.5em;}
		  h3.masthead-title{
		  font-variant: small-caps;}
		  a.Teampage{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Abstract{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Procedures{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Project{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  html{
		  overflow:visible;}
		  .container{
		  position: static;}
		   </style>
        </div>
      </div>

      <!--
        This section contains the content of our home page.

        I have broken it into three main sections:
          (1) about the blog
          (2) about me
          (3) Recent posts

        The first two sections are pretty self explanatory.

        In the recent posts section we ask Hugo to use the template found in
        /layouts/posts/summary.html to show a summary of the 10 most recent
        posts we have made.
      -->
	    <style type="text/css">
  .masthead-title{letter-spacing:.1em; font-family:'Press Start 2P', cursive;
  margin-left: -6em; margin-right: -9em; font-size:95%;
  word-spacing: .3em;}
  </style>
      <div class="container">
		<div class="slide">
			<div class="front">
        <img type="gif" src="https://gitlab.com/OhioMOD/OhioMOD/raw/11393d323535ec2f4bd0c6595a34e681de280772/images/giflogo.gif" title="OhioMOD" class="buck w3-animate-left">
        <img type="gif" src="https://gitlab.com/OhioMOD/OhioMOD/raw/041f66b3f7afc74524252d8779fb20a2e0b21aa9/images/dna-helix.gif" title="helix" class="buck w3-animate-right">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/88304c2fce2eb38d8ce904a30d68b2677e808492/images/T-Rex.jpg" title="T-rex" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/88304c2fce2eb38d8ce904a30d68b2677e808492/images/18hb.png" title="TEM" class="buck">
		</div>
		</div>
		<script>
		var myIndex=0;
		carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("buck");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>
		<style type="text/css">
		img.buck{
		width:1000px; height:473.19px; margin-left:-4cm; margin-top:.3cm;
		}
		</style>
        <h1 class="Ohio">The official OhioMOD 2016 Website</h1>
		<style type="text/css">
		h1.Ohio{margin-left: -3cm; margin-right: -3cm;
		margin-top:-12cm; font-family:'Press Start 2P', cursive;
		font-size:100%; word-spacing: -.1em;}
		h3.Abstract{
		font-family:'Press Start 2P', cursive;}
		</style>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/A1dAs0aWas8" frameborder="0" allowfullscreen></iframe>
		<p>Video will go here.</p>
        <!-- About me subsection -->
		<h3 class="Abstract">Abstract</h3>
		
		
        <!-- Recent Posts section -->
        <h1 class="post-title">Recent Posts</h1>
          <section id="main">
            <ul id="list">
              {{ range first 10 .Data.Pages }}
              {{ end }}
            </ul>
          </section>
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

{{ partial "footer.html" . }}
