<!--
  This is the main footer for the website. It is included on every page.

  It is very basic. It has some text and a link back to the home page of the
  site.

  It includes the google analytics template from /layouts/chrome/ga.html

  It also closes the <body> and <html> tags for each page.
-->

<div class="container">
<footer>
  <div class="bot">
  <li><a href="http://www.osu.edu">OhioState</a>
  theohiomod@gmail.com           
  <a href="http://biomod.net" class="rig">BioMOD</a></li>
  <style type="text/css">
  .bot{
  background-color:black; margin-bottom:-1cm; padding-bottom:-1px;
  line-height:2em; position:relative; font-color: white;
  margin-left:-20cm;; margin-right:-20cm; text-align:center;
  font-family:'Press Start 2P', cursive; font-size:80%;
  line-height:4em; word-spacing:8cm;}
  </style>
  </div>
</footer>
</div>

<!--
{{ partial "ga.html" . }}
-->

</body>
</html>
