<!--
  This file is responsible for rendering a single blog post.
-->

{{ partial "header.html" . }}

<body class="theme-base-08">
  {{ partial "sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
           <a href="https://ohiomod.gitlab.io/OhioMOD/" title="Home" class="home"><img src="https://gitlab.com/OhioMOD/OhioMOD/raw/fe1ed509a20cc979afd8e576c01012251ed90080/images/pixellogo.jpg" class="headlogo"></a>
		  <a href="/posts/Teampage/" class="Teampage">Teampage</a>
		  <a href="/posts/Objective/" class="Abstract">Background</a>
		  <a href="/posts/Project/" class="Project">Methodology</a>
		  <a href="/posts/Procedures/" class="Procedures">Protocols</a>
		  <a href="/posts/results/" class="Results">Results</a>
		  <a href="/posts/design/" class="Design">Design</a>
        </h3>
      </div>
    </div>

    <!--
      This is where the actual post is displayed.

      We first access the title metadata field from the markdown source and
      display it as a heading.

      We then access the date the post was written (also in the markdown
      metadata) and display a formated version of it

      Finally we include the actual content of the post.
    -->
    <div class="container content">
        <section id="main">
          
          {{ .Content }}
        </section>
    </div>
  </div>
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <style type="text/css">
  .masthead-title{letter-spacing:.1em;
  font-family:'Press Start 2P', cursive; margin-left:-6em; margin-right:-12em;
  font-variant: small-caps; font-size:95%; 
  letter-spacing:.1em; word-spacing:.3em;}
  .masthead{word-spacing:-.2em;}
   img.headlogo{
		  height:55px; width:95px; align:middle; float:left; margin-left: -4cm;
		  margin-top:-.5em;}
		  h3.masthead-title{
		  font-variant: small-caps;}
		  a.Teampage{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Abstract{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Procedures{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Project{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Results{border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  html{
		  overflow:visible;}
  </style>
  <label for="sidebar-checkbox" class="sidebar-toggle"></label>
  </body>





