<!-- This file is the homepage of the website. -->

<!DOCTYPE html>
<html>
<style type="text/css">
.{width:2000px;}
</style>
<head>
    <!--
      This section just sets up some metadata for the website.

      It probably does not need to be changed.
    -->
    <meta charset="utf-8">
    <base href="https://biomod2016.gitlab.io/ohiomod/">
    <title>{{ .Site.Title  }}</title>
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    {{ partial "head_includes.html" . }}
</head>
  <body class="theme-base-08" lang="en">
	
  {{ partial "sidebar.html" . }}

  <!-- See /layouts/indexes/category.html for explanation of this section -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="https://ohiomod.gitlab.io/OhioMOD/" title="Home" class="home"><img src="https://gitlab.com/OhioMOD/OhioMOD/raw/fe1ed509a20cc979afd8e576c01012251ed90080/images/pixellogo.jpg" class="headlogo"></a>
		  <a href="/posts/Teampage/" class="Teampage">Teampage</a>
		  <a href="/posts/Objective/" class="Abstract">Background</a>
		  <a href="/posts/Project/" class="Project">Methodology</a>
		  <a href="/posts/Procedures/" class="Procedures">Protocols</a>
		  <a href="/posts/results/"class="Results">Results</a>
		  <a href="/posts/design/" class="Design">Design</a>
          </h3>
		  <style type="text/css">

		  img.headlogo{
		  height:55px; width:95px; align:middle; float:left; margin-left: -4cm;
		  margin-top:-.5em;}
		  h3.masthead-title{
		  font-variant: small-caps;}
		  a.Teampage{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Abstract{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Procedures{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Project{
		  border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  a.Results{border-right-style: solid;
		  border-color: rgb(175,0,0); padding-right:17px; border-width: 2px;}
		  html{
		  overflow:visible;}
		  .container{
		  position: static;}
		   </style>
        </div>
      </div>

      <!--
        This section contains the content of our home page.

        I have broken it into three main sections:
          (1) about the blog
          (2) about me
          (3) Recent posts

        The first two sections are pretty self explanatory.

        In the recent posts section we ask Hugo to use the template found in
        /layouts/posts/summary.html to show a summary of the 10 most recent
        posts we have made.
      -->
	    <style type="text/css">
  .masthead-title{letter-spacing:.1em; font-family:'Press Start 2P', cursive;
  margin-left: -6em; margin-right: -19em; font-size:95%;
  word-spacing: .3em;}
  </style>
      <div class="container">
		<div class="slide">
			<div class="front">
        <img type="gif" src="https://gitlab.com/OhioMOD/OhioMOD/raw/11393d323535ec2f4bd0c6595a34e681de280772/images/giflogo.gif" title="OhioMOD" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/b288cd0f802a053bb649f4c1ac91720b736a591c/images/GroupPhotowithBorders.jpg" title="group" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/88304c2fce2eb38d8ce904a30d68b2677e808492/images/T-Rex.jpg" title="T-rex" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/9daa61e088013939dd35e6483cb3057b001a4f87/images/Rinocorn-2.gif" title="Rainbow" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/ec792365080925ab276b92d9f3c0e5ca42b4403d/images/rhinopic.png" title="rhino" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/9fb5806fd397debc9985c63b540f99071c4fb364/images/Sq18MGOD2.jpg" title="3D-plot" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/b288cd0f802a053bb649f4c1ac91720b736a591c/images/Rhinocorn.jpg" title="rhinocorn" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/ae96469c3382a83aedf54c5c3c2b760d12a9f93f/images/Tabletopcentrishopped.jpg" title="centrifuge" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/9daa61e088013939dd35e6483cb3057b001a4f87/images/Rinocorn-4.gif" title="orange rhino" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/ae96469c3382a83aedf54c5c3c2b760d12a9f93f/images/VictorStoneShopped.jpg" title="Gel Rig" class="buck">
		<img src="https://gitlab.com/OhioMOD/OhioMOD/raw/ae96469c3382a83aedf54c5c3c2b760d12a9f93f/images/MicroscopePixel.png" title="microscope" class="buck">
		</div>
		</div>
		<script>
		var myIndex=0;
		carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("buck");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 5000); // Change image every 2 seconds
}
</script>
		<style type="text/css">
		img.buck {
		left:-100px;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 5s;
	-moz-animation: slide 0.5s forwards;
	-moz-animation-delay: 5s;
	-ms-animation: slide 0.5s forwards;
	-ms-animation-delay: 5s;
	-o-animation: slide 0.5s forwards;
	-o-animation-delay: 5s;
    animation: slide 0.5s forwards;
    animation-delay: 5s;
}

@-webkit-keyframes slide {
    100% { left: 2000; }
}

@keyframes slide {
    100% { left: 2000; }
}
		img.buck{
		width:1000px; height:473.19px; margin-left:-4cm; margin-top:.3cm;
		}
		.video{margin-left:-2cm;}
		</style>
        <h1 class="Ohio">The official OhioMOD 2016 Video</h1>
		<style type="text/css">
		h1.Ohio{margin-left: -3cm; margin-right: -3cm;
		margin-top:-12cm; font-family:'Press Start 2P', cursive;
		font-size:100%; word-spacing: -.1em;}
		h3.Abstract{
		font-family:"Helvetica";
		border-bottom-style:solid;
		border-width:1px;}
		p.abstract{
		font-family:"Helvetica";
		font-size:100%;
		text-align:justify; color:black;}
		</style>
		<div class="video">
		<iframe width="826.67" height="465" src="https://www.youtube.com/embed/Y8ObRsfpAwg" frameborder="0" allowfullscreen></iframe>
        </div>
		<h3 class="Abstract">Abstract</h3>
		<p class="abstract">Scaffolded DNA origami allows for the construction of custom-designed 
		DNA nanostructures via molecular self-assembly. These structures have recently demonstrated exciting 
		potential for a range of biological applications such as drug delivery, force measurement, 
		and biomarker detection. However, translating these devices from research demonstrations to 
		clinical or other biological applications require thorough evaluation of
		DNA nanostructure structural stability under harsh physiologic conditions that include
		the presence of nucleases. A handful of studies that have evaluated DNA origami stability 
		physiological buffers have revealed that stability can vary from tens of minutes to several 
		hours depending on the structure design and the specific buffer. Currently, how physiological 
		stability relates to nanostructure design, and more importantly how to design devices with 
		appropriate stability is poorly understood.</p>
		<p class="abstract">Therefore, the objective of the current study is to 
		evaluate how different structural characteristics of DNA nanostructures affects stability under a 
		range of physiological conditions. Here, we have assessed the stability and degradation rate of DNA 
		nanostructures under physiologically relevant factors including varying levels of salinity and fetal 
		bovine serum (FBS). Stability experiments were performed on a large panel of DNA nanostructures 
		including structures that share similar designs, but varied in a single parameter such as surface area, 
		crossover frequency, lattice cross section, scaffold routing, or number of overhangs. 
		Structural stability of nanostructures was monitored across varying concentrations of magnesium 
		chloride (0-20mM) and fetal bovine serum (0%-100%) during a 24-hour room temperature incubation period.
		Quantitative data was obtained using agarose gel electrophoresis coupled with a gel intensity 
		analysis program to monitor the long-term stability of each structure and a spectrophotometer 
		to collect degradation kinetics data. Results were compiled to create an algorithm to predict the
		structural stability of DNA nanostructures based on their characteristics and designing 
		stable structures suitable for various physiologically relevant environment. An additional 
		goal for this work is to make a publically accessible database that DNA origami nanostructure 
		designers can use to create an optimal structure for any experimental conditions more 
		efficiently and conveniently.</p>
		
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
	<footer>
	
  <div>
  <ul class="bot">
  <li><a href="https://nbl.osu.edu/">NBL</a>
  theohiomod@gmail.com           
  <a href="https://www.facebook.com/OhioMod">Facebook</a>
  <a href="http://biomod.net" class="rig">BioMOD</a></li>
  </ul>
  <style type="text/css">
  .bot{margin-top:2cm;
  background-color:black; margin-bottom:-1cm; padding-bottom:-1px;
  line-height:2em; position:relative; font-color: white;
  margin-left:-20cm;; margin-right:-20cm; text-align:center;
  font-family:'Press Start 2P', cursive; font-size:80%;
  line-height:4em; word-spacing:5cm;}
  </style>
  </div>
</footer>
